

.dash-ul {
    display: none;
}


/*
 * acc.type heading
 */

.acc-type {
    font-weight: bold;
    padding: 5px;
    background-color: var(--white);
    bottom: 5%;
    right: 5%;
    position: fixed;
    z-index: 999;
    border: 3px inset var(--main);
}


