* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/*
 *  Root,  Changelog and ver
 */

:root {
    --main: rgb(122 233 231);
    --primary: rgb(124, 124, 231);
    --secondary: rgb(122 255 231);

    --black: black;
    --white: white;
    --test: lime;
    --error: red;
}

.changelog {

}

.ver {
    font-weight: bold;
    padding: 5px;
    background-color: var(--white);
    bottom: 9%;
    right: 5%;
    position: fixed;
    z-index: 999;
    border: 3px inset var(--main);
}


/*
 * acc.type heading
 */

 .acc-type {
    font-weight: bold;
    padding: 5px;
    background-color: var(--white);
    bottom: 5%;
    right: 5%;
    position: fixed;
    z-index: 999;
    border: 3px inset var(--main);
}


/*
 * Body
 *
 =========================*/

body {
    margin-top: 20%;
    margin-bottom: 20%;
    min-height: 100vh;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-color: var(--main);
    color: var(--black);
}


/*
 * Navigation set up
 */

nav {
    top: 0;
    position: fixed;
}
/*
 * Basics such as
 * 
 * @h1,h2, a, buttons...
 *
 ========================================*/

button {
    padding: 5px;
    font-weight: bold;
}

button:hover {
    color: var(--white);
    background-color: var(--black);
}

a {
    text-decoration: none;
}

.dash-ul li {
    padding: 5px;
    color: var(--primary);

}

.dash-ul li:hover {

    background-color: var(--secondary);
    animation: dropDown 1s ease-in alternate;
}


@keyframes dropDown {
    0% {
        box-shadow: 0 0 30px var(--main);
        background-color: var(--main);
    }

    50% {
        box-shadow: 0 0 30px var(--primary);
        background-color: var(--primary);
    }

    100% {
        box-shadow: 0 0 30px var(--secondary);
        background-color: var(--secondary);

    }
    
}



/*
 * HEADER
 *
 ========================================*/

header {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: var(--white);
}

/*
 * Footer 
 *
 ========================================*/


footer {

    display: flex;
    justify-content: center;
    width: 100%;
    padding: 10px;
    background-color: var(--white);
    bottom: 0;
    position: fixed;
}



/*
 * Screen Setup
 *
 */


 @media (min-width: 500px) {
    body {
        background-image: url('../../data/imgs/logo2.jpg');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;   
    }

    .div-login-log {
        display: none;
    }

    .div-grid {
        background-color: var(--primary);
    }

    .content {
        font-size: 20pt;
        width: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        border: 2px solid var(--primary);
        background-color: var(--main);
        color: var(--white);
        box-shadow: 0 0 20px inset var(--primary);
        border-radius: 25px;
    }

    .content ul{
        font-size: 14px;
        gap: 2rem;
        justify-content: space-between;
        display: flex;
        list-style: none;

    }
}

/* SMALL SCREEN */
@media (max-width: 500px) {
    body {
        max-height: 100vh;
        background-color: var(--primary);
        box-shadow: 0 0 30px inset var(--secondary);
    }

    .content {
        top: 0;
        gap: 1rem;
        width: 100%;
        padding: 5px;
        position: fixed;
        display: grid;
        border: 3px solid var(--main);
        background-color: var(--white);
        box-shadow: 0 0  20px inset var(--secondary);
    }
    
    .content ul {
        list-style: none;
        display: flex;
        justify-content: space-evenly;
        border-top: 3px solid var(--secondary);
    }

    .dash-logo-flex {
        height: 100%;
        padding: 5px;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    
    
    .logo-dashboard {
        width: 100px;
        height: 100px;
        background-image: url('../../data/imgs/Logo.png');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
 }